* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}

header {
 
}

.container-head {
    display: flex;
    background-color: #ff6900;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
}

.logo-b {
    height: 30px;
    width: 135px;
}

.white {
    color: white;
    font-size: 16px;
    position: relative;
    left: 270px;
    padding: 5px;
}

.white-icons {
        color: white;
        font-size: 16px;
        position: relative;
        right: 270px;
        padding: 5px;
}


.first-section {
    display: flex;
}

.container {
    display: flex; 
    gap: 10px; 
    justify-content: center; 
    margin-top: 20px;
}

.foto-container {
    display: flex;
    gap: 10px; 
    flex-wrap: wrap;
    max-width: 1380px;
    max-height: 640px;
}

.photo-container img {
    width: 100px; 
    height: auto; 
}

.dimensione {
    height: 640px;
    width: 450px;
}

.container {
    display: flex; 
    gap: 10px; 
    justify-content: center; 
    margin-top: 20px;
}

.foto-container {
    display: flex;
    gap: 10px; 
    flex-wrap: wrap;
    max-width: 1380px;
    max-height: 640px;
    position: relative;
}

.foto-container img {
    width: 450px;
    height: 640px;
  
}

.immagine-secondaria {
    position: absolute; 
    top: 0;
    left: 0;
    opacity: 0; 
}

.foto-container:hover .immagine-secondaria {
    opacity: 1; }
